.btn {
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  text-decoration: none;

  &--light {
    color: black;
    background-color: #fff;
  }

  &--dark {
    color: #fff;
    background-color: black;
  }

  &--outline {
    color: black;
    border: 1px solid black;
  }

  @media (max-width: 480px) {
    padding: 1rem 1.2rem;
  }
}
