.break {
  height: 12rem;
  background: url(/images/9Break/break.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-row-start: 10;
  grid-row-end: 11;

  &__title {
    color: #fff;
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
  }

  &__contact {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    padding-left: 5%;
    width: 48%;
  }

  @media (max-width: 480px) {
    height: 22rem;
    background: url(/images/9Break/breakMobile.png);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;

    &__title {
      width: 75%;
    }

    &__h1 {
      font-size: 4rem;
      padding: 2rem 0 1.5rem 0;
    }

    &__contact {
      font-size: 1rem;
      padding-top: 2.2rem;
      text-align: center;
      width: 55%;
    }
  }
}
