.siteDesign {
  position: relative;
  background: black;
  padding: 0 10%;
  overflow: hidden;
  z-index: 1;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (max-width: 480px) {
    padding: 0;
  }
}

.siteDesign__whiteBox {
  position: relative;
  background: white;
  padding: 0 10%;
  height: 30rem;
  display: flex;
  justify-content: center;
  z-index: auto;

  & a {
    display: none;
  }

  @media (max-width: 480px) {
    padding: 0;
    flex-direction: column;
    align-items: center;
    height: 38rem;

    & a {
      display: block;
      margin-top: -2rem;
      margin-bottom: 1.5rem;
    }
  }
}

.siteDesign__whiteBox--text {
  padding: 5rem 0;
  width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  & a {
    display: block;
  }

  & h1 {
    word-spacing: 0.1rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;

    @media (max-width: 480px) {
      font-size: 3.3rem;
      font-weight: 500;
      line-height: 3rem;
      width: 80%;
      padding-top: 1.5rem;
    }
  }

  & p {
    font-size: 0.8rem;

    @media (max-width: 480px) {
      padding: 1rem 0;
      font-size: 1rem;
      width: 90%;
    }
  }

  @media (max-width: 480px) {
    & a {
      display: none;
    }

    width: 80%;
    align-items: center;
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.siteDesign__whiteBox--img {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

  & img {
    object-fit: cover;
    width: 30rem;
  }

  @media (max-width: 480px) {
    & a {
      visibility: hidden;
    }
  }
}

.siteDesign__frame {
  display: none;

  @media (max-width: 480px) {
    display: block;
    position: absolute;
    max-width: 26rem;
    left: -16rem;
    bottom: -12rem;
  }
}

.siteDesign__holo {
  position: absolute;
  max-width: 26rem;
  left: -16rem;
  bottom: -21rem;

  @media (max-width: 480px) {
    display: none;
  }
}

.siteDesign__disc {
  position: absolute;
  max-width: 35rem;
  right: -18rem;
  top: 6rem;
  z-index: -1;

  @media (max-width: 480px) {
    display: none;
  }
}

.siteDesign__whatWeDo {
  position: relative;
  display: flex;
  align-items: flex-end;
  color: white;
  height: 35rem;
  z-index: 10;

  @media (max-width: 480px) {
    height: 87rem;
    flex-direction: column;
    align-items: center;
  }
}

.siteDesign__whatWeDo--1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 20rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 1rem;

  & > * {
    margin: 1rem 0;
  }

  & hr {
    min-width: 65%;

    &:nth-last-child(1) {
      display: none;
    }
  }

  & h1 {
    max-width: 60%;
    font-size: 2rem;
  }

  & p {
    max-width: 80%;
  }

  & a {
    font-weight: 700;
  }

  @media (max-width: 480px) {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    height: auto;
    justify-content: flex-start;

    & hr {
      min-width: 100%;
      &:nth-last-child(1) {
        display: block;
      }
    }

    & h1 {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    & p {
      max-width: 90%;
      font-size: 1.2rem;
    }
  }
}

.siteDesign__whatWeDo--2 {
  min-height: 70%;
  margin-right: 5rem;
  width: 60%;

  @media (max-width: 480px) {
    width: 55%;
    margin-right: 0;
    min-height: 0;
    padding-left: 5rem;
  }
}

.siteDesign__whatWeDo--2 ol {
  position: relative;
  list-style: none;
}

.siteDesign__whatWeDo--2 li {
  margin-bottom: 2rem;
  font-size: 1rem;

  @media (max-width: 480px) {
    font-size: 1.2rem;
    margin-bottom: 5rem;
  }
}

.siteDesign__whatWeDo--2 li:nth-child(1)::before {
  position: absolute;
  width: 2.5rem;
  content: '01';
  left: -4rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 1.7rem;
    left: -9.5rem;
    border: 2px solid white;
    padding: 1.5rem;
    width: 6rem;
  }
}

.siteDesign__whatWeDo--2 li:nth-child(2)::before {
  position: absolute;
  width: 2.5rem;
  content: '02';
  left: -4rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 1.7rem;
    left: -9.5rem;
    border: 2px solid white;
    padding: 1.5rem;
    width: 6rem;
  }
}

.siteDesign__whatWeDo--2 li:nth-child(3)::before {
  position: absolute;
  width: 2.5rem;
  content: '03';
  left: -4rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 1.7rem;
    left: -9.5rem;
    border: 2px solid white;
    padding: 1.5rem;
    width: 6rem;
  }
}

.siteDesign__whatWeDo--2 li:nth-child(4)::before {
  position: absolute;
  width: 2.5rem;
  content: '04';
  left: -4rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 1.7rem;
    left: -9.5rem;
    border: 2px solid white;
    padding: 1.5rem;
    width: 6rem;
  }
}